@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
 font-family:Inter, sans-serif;
}
body{
    width: 100%;
    height: auto;
}
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:;
  top:0;
}
nav ul{
  display:flex;
  list-style:none;
  gap:20px;
  padding-right: 3rem;;
}
nav ul li a{
  text-decoration:none;
  color:black;
  font-weight: bold;
}
a:hover,
a:focus{
 color:green;
}
.content{
  display:flex;
  justify-content:center;
  align-items:center;
}
.header__h1{
  display: flex;
  justify-content: center;
  margin:0 auto;
  text-align:center;
  padding-top: 10rem;
}
form{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
form input{
  margin-top:4rem;
  width: 30%;
  height: 40px;
}
input[type="submit"]{
  background-color:rgb(94, 177, 94);
  font-size:20px;
  font-weight:bold;
  border-radius:5px;
  border:1px solid black;
}
input[type="submit"]:hover{
  background-color:green;
}
input[type="email"]{
  width:50%;
  height:50px;
  margin-top:3rem;
  border-radius: 10px;
}
input[placeholder="enter your email"]{
  text-align:center;
  font-size: large;
}

.video{
    display: block;
    width:50%;
    height:auto;
    margin-top: 2.5rem;
}
i{
  display: flex;
  color:green;
  font-size:50px;
  padding-right:20px;
  width: 100px;
  padding-bottom: 10px;
  padding-left: 20px;
}
.fire{
    font-size: 4rem;
    width: 100px;
}
.des{
  padding-left:100px;
  width: 100%;
  margin-bottom: 20px;

}

.header__h2{
    padding-bottom: 1.5rem;
}

.container{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px;
  margin:40px 30px 20px 20px;
  border-radius: 10px;
}
.box{
  height:400px;
  padding:20px;
  background-color:#f2f2f2;
  text-align:center;
  border:1px solid black;
  border-radius: 10px;
  padding-top:4rem;
}
ol li{
  list-style:none;
  text-align:center;
}
input[type="button"]{
  background-color:rgb(94, 177, 94);
  width:120px;
  height:40px;
  border:1px solid black;
  border-radius:5px;
  margin-top: 5rem;
}
input[type="button"]:hover{
    background-color: green;
}

.button__h2{
    display: flex;
    justify-content: center;
    line-height: 4rem;
}
footer{
  display:flex;
  justify-content:flex-end;
  align-items:center;
  padding:10px 10px;
  background:#f2f2f2;
  bottom:0;
}
footer ul{
  display:flex;
  list-style:none;
  gap:30px;
}
span{
  margin-left:10px;
}
header{
  display:flex;
  
  position:fixed;
  top:0;
  right:0;
  background:white;
  width:100%;
  z-index:1000;
  height:80px; 
}
img{
  margin-left:10px;
  height:60px ;
}

@media only screen and (max-width: 300px) {
  .container {
    grid-template-columns: 1fr;
  }
  .video{
    width:60%;
  }
  input[type="submit"]{
    width:40%;
  }
  input[type="email"]{
    width:70%;
  }

}

@media only screen and (max-width: 650px) {
  .container{
   grid-template-columns: 1fr; 
  }
}
@media only screen and (max-width: 950px) {
  .container{
   grid-template-columns: 1fr;
}
}
